
@{
    ViewData["Title"] = "Editar Cuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />

<div class="container-fluid page__container">
  
        <div class="row">
            <div class="col-lg-9 pr-lg-0">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Editar Cuenta</li>
                </ol>
                <div class="page-section">
                    <h4>Información Básica</h4>
                    <div class="list-group list-group-form">
                        <div class="list-group-item">
                            <div class="form-group row align-items-center mb-0">
                                <label class="form-label col-form-label col-sm-3">Primer Nombre</label>
                                <div class="col-sm-9">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Favor Ingrese su Primer Nombre ...">
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="form-group row align-items-center mb-0">
                                <label class="form-label col-form-label col-sm-3">Apellidos</label>
                                <div class="col-sm-9">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Favor Ingrese sus Apellidos...">
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="form-group row align-items-center mb-0">
                                <label class="form-label col-form-label col-sm-3">Email </label>
                                <div class="col-sm-9">
                                    <input type="email"
                                           class="form-control"
                                           placeholder="Favor Ingrese dirección de correo...">
                                    <small class="form-text text-muted">Tenga en cuenta que si cambia su correo electrónico, tendrá que confirmarlo nuevamente.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 page-nav">
                <div class="page-section pt-lg-112pt">
                  
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                  

                    <div class="page-nav__content">
                        <button type="submit"
                                class="btn btn-outline-primary">
                            Guardar Cambios
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
</div>